n8n/workflows/email-ingestion-v1/email-ingestion-replay-harness-v1.json
{
  "id": "8SwJvATnReplayV1",
  "name": "Email Ingestion :: Replay Harness V1",
  "description": "Replay and smoke-test entrypoint for synthetic or copied real emails. Reuses the common processor webhook and allows backend URL override in the request body for local validation while operational signing stays in n8n env vars.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-ingestion-replay-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -760,
        160
      ],
      "id": "215bbf98-d321-434c-964c-a4bf5687a37e",
      "name": "Replay Webhook",
      "webhookId": "215bbf98-d321-434c-964c-a4bf5687a37e"
    },
    {
      "parameters": {
        "jsCode": "\tconst envelope = $input.first().json;\n\tconst incoming = envelope && typeof envelope.body === 'object' && envelope.body !== null\n\t  ? envelope.body\n\t  : envelope;\n\tconst scenario = incoming.scenario || 'recurringBill';\n\n\tconst samples = {\n\t  recurringBill: {\n\t    sourceAccount: incoming.sourceAccount || 'financeiro@gmail.com',\n\t    externalMessageId: incoming.externalMessageId || `replay-recurring-${Date.now()}`,\n\t    sender: incoming.sender || 'fatura@provedor.com.br',\n\t    subject: incoming.subject || 'Fatura Internet março',\n\t    receivedAt: incoming.receivedAt || new Date().toISOString(),\n\t    textBody: incoming.textBody || 'Olá, sua cobrança de internet residencial venceu em 25/03/2026. Valor total: R$ 129,90. Obrigado.',\n\t    merchantOrPayee: incoming.merchantOrPayee || 'Provedor Internet',\n\t    currency: incoming.currency || 'BRL',\n\t  },\n\t  manualPurchase: {\n\t    sourceAccount: incoming.sourceAccount || 'financeiro@gmail.com',\n\t    externalMessageId: incoming.externalMessageId || `replay-manual-${Date.now()}`,\n\t    sender: incoming.sender || 'manual@local.invalid',\n\t    subject: incoming.subject || 'Compra Cobasi',\n\t    receivedAt: incoming.receivedAt || new Date().toISOString(),\n\t    textBody: incoming.textBody || 'Compra no pet shop Cobasi\\nRação R$ 199,90\\nAreia R$ 49,90\\nPetisco R$ 39,90\\nTotal R$ 289,70',\n\t    merchantOrPayee: incoming.merchantOrPayee || 'Cobasi',\n\t    currency: incoming.currency || 'BRL',\n\t  },\n\t  irrelevantNewsletter: {\n\t    sourceAccount: incoming.sourceAccount || 'financeiro@gmail.com',\n\t    externalMessageId: incoming.externalMessageId || `replay-ignore-${Date.now()}`,\n\t    sender: incoming.sender || 'newsletter@loja.com',\n\t    subject: incoming.subject || 'Cupom imperdível para você',\n\t    receivedAt: incoming.receivedAt || new Date().toISOString(),\n\t    textBody: incoming.textBody || 'Oferta especial, descontos e novidades da semana. unsubscribe',\n\t    merchantOrPayee: incoming.merchantOrPayee || 'Loja',\n\t    currency: incoming.currency || 'BRL',\n\t  },\n\t};\n\nconst base = samples[scenario] || samples.recurringBill;\nconst processorBaseUrl = incoming.processorBaseUrl\n  || $env.WEBHOOK_URL\n  || `${$env.N8N_PROTOCOL || 'http'}://${$env.N8N_HOST || 'localhost'}:${$env.N8N_PORT || '5678'}`;\nreturn [{\n  json: {\n    processorBaseUrl,\n    processorPayload: {\n      ...base,\n      channel: incoming.channel || 'replay',\n      backendBaseUrl: incoming.backendBaseUrl || '',\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        160
      ],
      "id": "dc8413d4-7d23-4241-9c22-74b7ecf11d9d",
      "name": "Build Replay Candidate"
    },
    {
      "parameters": {
        "jsCode": "\tconst outputs = [];\n\n\tfor (const entry of $input.all()) {\n\t  const item = entry.json;\n\t  const processorBaseUrl = item.processorBaseUrl\n    || $env.WEBHOOK_URL\n    || `${$env.N8N_PROTOCOL || 'http'}://${$env.N8N_HOST || 'localhost'}:${$env.N8N_PORT || '5678'}`;\n\t  const processorUrl = `${processorBaseUrl.replace(/\\/$/, '')}/webhook/email-ingestion-process-v1`;\n\n\t  try {\n\t    const response = await helpers.httpRequest({\n\t      method: 'POST',\n\t      url: processorUrl,\n\t      headers: {\n\t        'Content-Type': 'application/json',\n\t      },\n\t      body: item.processorPayload,\n\t      returnFullResponse: true,\n\t    });\n\t    const responseBody = response.body;\n\t    const safeJson = responseBody && typeof responseBody === 'object'\n\t      ? responseBody\n\t      : null;\n\t    outputs.push({\n\t      json: safeJson\n\t        ? {\n\t            ...safeJson,\n\t            mailbox: safeJson.mailbox || item.processorPayload?.mailbox || null,\n\t          }\n\t        : {\n\t            status: 'processor_unparseable_response',\n\t            httpStatus: response.statusCode,\n\t            body: responseBody ?? null,\n\t            mailbox: item.processorPayload?.mailbox || null,\n\t          },\n\t    });\n\t  } catch (error) {\n\t    const httpStatus = error?.response?.status ?? error?.statusCode ?? null;\n\t    const body = error?.response?.data ?? error?.response?.body ?? null;\n\t    if (httpStatus) {\n\t      outputs.push({\n\t        json: {\n\t          status: 'processor_error',\n\t          httpStatus,\n\t          body,\n\t          mailbox: item.processorPayload?.mailbox || null,\n\t        },\n\t      });\n\t      continue;\n\t    }\n\t    outputs.push({\n\t      json: {\n\t        status: 'processor_unreachable',\n\t        message: `Failed to reach processor workflow: ${String(error.message || error).slice(0, 180)}`,\n\t        mailbox: item.processorPayload?.mailbox || null,\n\t      },\n\t    });\n\t  }\n\t}\n\n\treturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        160
      ],
      "id": "8cd618df-953f-4d3f-a218-5358d78f70ef",
      "name": "Call Candidate Processor"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        160
      ],
      "id": "8f7708f9-2e4f-4622-9ff2-308655789aa8",
      "name": "Respond Replay"
    }
  ],
  "connections": {
    "Replay Webhook": {
      "main": [
        [
          {
            "node": "Build Replay Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Replay Candidate": {
      "main": [
        [
          {
            "node": "Call Candidate Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Candidate Processor": {
      "main": [
        [
          {
            "node": "Respond Replay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "pinData": {},
  "versionId": "7ed0bb0c-625c-4ca5-9d0e-c6c79254f930",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionMetadata": {
    "name": null,
    "description": "Replay and smoke-test entrypoint for synthetic or copied real emails. Reuses the common processor webhook and allows backend URL override in the request body for local validation while operational signing stays in n8n env vars."
  }
}
