n8n/workflows/email-ingestion-v1/email-ingestion-replay-harness-v1.json
{
  "id": "8SwJvATnReplayV1",
  "name": "Email Ingestion :: Replay Harness V1",
  "description": "Replay and smoke-test entrypoint for synthetic or copied real emails. Reuses the common processor webhook and allows backend URL/token overrides in the request body for local validation.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-ingestion-replay-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -760,
        160
      ],
      "id": "215bbf98-d321-434c-964c-a4bf5687a37e",
      "name": "Replay Webhook",
      "webhookId": "215bbf98-d321-434c-964c-a4bf5687a37e"
    },
    {
      "parameters": {
        "jsCode": "\tconst envelope = $input.first().json;\n\tconst incoming = envelope && typeof envelope.body === 'object' && envelope.body !== null\n\t  ? envelope.body\n\t  : envelope;\n\tconst scenario = incoming.scenario || 'recurringBill';\n\n\tconst samples = {\n\t  recurringBill: {\n\t    sourceAccount: incoming.sourceAccount || 'financeiro@gmail.com',\n\t    externalMessageId: incoming.externalMessageId || `replay-recurring-${Date.now()}`,\n\t    sender: incoming.sender || 'fatura@provedor.com.br',\n\t    subject: incoming.subject || 'Fatura Internet março',\n\t    receivedAt: incoming.receivedAt || new Date().toISOString(),\n\t    textBody: incoming.textBody || 'Olá, sua cobrança de internet residencial venceu em 25/03/2026. Valor total: R$ 129,90. Obrigado.',\n\t    merchantOrPayee: incoming.merchantOrPayee || 'Provedor Internet',\n\t    currency: incoming.currency || 'BRL',\n\t  },\n\t  manualPurchase: {\n\t    sourceAccount: incoming.sourceAccount || 'financeiro@gmail.com',\n\t    externalMessageId: incoming.externalMessageId || `replay-manual-${Date.now()}`,\n\t    sender: incoming.sender || 'manual@local.invalid',\n\t    subject: incoming.subject || 'Compra Cobasi',\n\t    receivedAt: incoming.receivedAt || new Date().toISOString(),\n\t    textBody: incoming.textBody || 'Compra no pet shop Cobasi\\nRação R$ 199,90\\nAreia R$ 49,90\\nPetisco R$ 39,90\\nTotal R$ 289,70',\n\t    merchantOrPayee: incoming.merchantOrPayee || 'Cobasi',\n\t    currency: incoming.currency || 'BRL',\n\t  },\n\t  irrelevantNewsletter: {\n\t    sourceAccount: incoming.sourceAccount || 'financeiro@gmail.com',\n\t    externalMessageId: incoming.externalMessageId || `replay-ignore-${Date.now()}`,\n\t    sender: incoming.sender || 'newsletter@loja.com',\n\t    subject: incoming.subject || 'Cupom imperdível para você',\n\t    receivedAt: incoming.receivedAt || new Date().toISOString(),\n\t    textBody: incoming.textBody || 'Oferta especial, descontos e novidades da semana. unsubscribe',\n\t    merchantOrPayee: incoming.merchantOrPayee || 'Loja',\n\t    currency: incoming.currency || 'BRL',\n\t  },\n\t};\n\nconst base = samples[scenario] || samples.recurringBill;\nconst processorBaseUrl = incoming.processorBaseUrl\n  || $vars.WEBHOOK_URL\n  || `${$vars.N8N_PROTOCOL || 'http'}://${$vars.N8N_HOST || 'localhost'}:${$vars.N8N_PORT || '5678'}`;\nreturn [{\n  json: {\n    processorBaseUrl,\n    processorPayload: {\n      ...base,\n      channel: incoming.channel || 'replay',\n      backendBaseUrl: incoming.backendBaseUrl || '',\n      operationalToken: incoming.operationalToken || '',\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        160
      ],
      "id": "dc8413d4-7d23-4241-9c22-74b7ecf11d9d",
      "name": "Build Replay Candidate"
    },
    {
      "parameters": {
        "jsCode": "const outputs = [];\n\nfor (const entry of $input.all()) {\n  const item = entry.json;\n  const processorBaseUrl = item.processorBaseUrl\n    || $vars.WEBHOOK_URL\n    || `${$vars.N8N_PROTOCOL || 'http'}://${$vars.N8N_HOST || 'localhost'}:${$vars.N8N_PORT || '5678'}`;\n  const processorUrl = `${processorBaseUrl.replace(/\\/$/, '')}/webhook/email-ingestion-process-v1`;\n\n  try {\n    const response = await helpers.httpRequest({\n      method: 'POST',\n      url: processorUrl,\n      headers: {\n        'Content-Type': 'application/json',\n      },\n      body: item.processorPayload,\n      returnFullResponse: true,\n    });\n    const responseBody = response.body;\n    const safeJson = responseBody && typeof responseBody === 'object'\n      ? responseBody\n      : null;\n    outputs.push({\n      json: safeJson\n        ? {\n            ...safeJson,\n            mailbox: safeJson.mailbox || item.processorPayload?.mailbox || null,\n          }\n        : {\n            status: 'processor_unparseable_response',\n            httpStatus: response.statusCode,\n            body: responseBody ?? null,\n            mailbox: item.processorPayload?.mailbox || null,\n          },\n    });\n  } catch (error) {\n    const httpStatus = error?.response?.status ?? error?.statusCode ?? null;\n    const body = error?.response?.data ?? error?.response?.body ?? null;\n    if (httpStatus) {\n      outputs.push({\n        json: {\n          status: 'processor_error',\n          httpStatus,\n          body,\n          mailbox: item.processorPayload?.mailbox || null,\n        },\n      });\n      continue;\n    }\n    outputs.push({\n      json: {\n        status: 'processor_unreachable',\n        message: `Failed to reach processor workflow: ${String(error.message || error).slice(0, 180)}`,\n        mailbox: item.processorPayload?.mailbox || null,\n      },\n    });\n  }\n}\n\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        160
      ],
      "id": "8cd618df-953f-4d3f-a218-5358d78f70ef",
      "name": "Call Candidate Processor"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        160
      ],
      "id": "8f7708f9-2e4f-4622-9ff2-308655789aa8",
      "name": "Respond Replay"
    }
  ],
  "connections": {
    "Replay Webhook": {
      "main": [
        [
          {
            "node": "Build Replay Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Replay Candidate": {
      "main": [
        [
          {
            "node": "Call Candidate Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Candidate Processor": {
      "main": [
        [
          {
            "node": "Respond Replay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "pinData": {},
  "versionId": "7ed0bb0c-625c-4ca5-9d0e-c6c79254f930",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionMetadata": {
    "name": null,
    "description": "Replay and smoke-test entrypoint for synthetic or copied real emails. Reuses the common processor webhook and allows backend URL/token overrides in the request body for local validation."
  }
}
